{% extends 'base.html.twig' %}

{% block title %}Ad index{% endblock %}

{% block body %}
<div class="text-right">
	<button type="button" class="btn btn-dark"><a href="{{ path('ad_new') }}">Déposer une nouvelle annonce</a></button>
</div>
	<div class="container">
		{% if region is defined %}
		<a href="{{ path('ad_index') }}">voir toute la France</a>
		<h2>
		Annonces {{ region.name }} {% else %} <h2>France {% endif %} {# région si défini, sinon annonces sur toute la France #}
        </h2>  
		

		<div class="row my-3">
			{% if ads is defined %}
				{% for ad in ads %}
					<div class="col-6 col-sm-4 col-md-3 my-3 my-sm-0">
						<div class="card">
							<div class="position-relative">
								<img src="{{ ad.mainPhoto }}" class="card-img-top" alt="{{ ad.title }}">
								{#<div class="card-img-overlay d-flex justify-content-end align-items-end">
									<button type="button" class="btn btn-light rounded-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
										Liker
									</button> //un bouton liker qui ne fait rien (il faut rajouter du javascript et le lier)
								</div>#}
							</div>
							<div class="card-body text-center">
								<h5 class="card-title">
									<small>{{ ad.title }}</small>
								</h5>
                                <p class="card-text">
									{#<a href={{ path('home', {ad_id : ad.id } ) }}>#}
										<strong class="text-primary">{{ ad.user.nickname }}</strong>
									</a>
								</p>
                                <p class="card-text">
									{#<a href={{ path('home', {ad_id : ad.id } ) }}>#}
										<strong class="text-secondary">{{ ad.category.name }}</strong>
									</a>
								</p>
								<p class="card-text">
									{#<a href={{ path('home', {ad_id : ad.id } ) }}>#}
										<strong class="text-success">{{ ad.price }}	€</strong>
									</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

{#                {{ ad.id }}
                {{ ad.dateCreation ? ad.dateCreation|date('Y-m-d H:i:s') : '' }}
                {{ ad.dateModification ? ad.dateModification|date('Y-m-d H:i:s') : '' }}
                {{ ad.photo1 }}
                {{ ad.photo2 }}
                {{ ad.photo3 }}
                {{ ad.photo4 }}
                {{ ad.zipCode }}
                {{ ad.city }}
                {{ ad.active ? 'Yes' : 'No' }}
                <a href="{{ path('ad_show', {'id': ad.id}) }}">show</a>
                <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>
#}


{% endblock %}
